<div class="container">
  <div class="main-page">
    <div class="main-page__content">
      <div class="popular">
        <h2 class="popular__title title">Popular shows airing tonight</h2>
        <div class="popular__cards">

          <div class="popular__card card">
            <div class="card__img">
              <img src="https://static.tvmaze.com/uploads/images/medium_portrait/236/590381.jpg" alt="show img">
            </div>
            <div class="card__info">
              <p class="card__title">The Genetic Detective</p>
              <p class="card__description">Hunt for the Runway Killer</p>
            </div>
          </div>
          <div class="popular__card card">
            <div class="card__img">
              <img src="https://static.tvmaze.com/uploads/images/medium_portrait/236/590381.jpg" alt="show img">
            </div>
            <div class="card__info">
              <p class="card__title">The Genetic Detective</p>
              <p class="card__description">Hunt for the Runway Killer</p>
            </div>
          </div>
          <div class="popular__card card">
            <div class="card__img">
              <img src="https://static.tvmaze.com/uploads/images/medium_portrait/236/590381.jpg" alt="show img">
            </div>
            <div class="card__info">
              <p class="card__title">The Genetic Detective</p>
              <p class="card__description">Hunt for the Runway Killer</p>
            </div>
          </div>
          <div class="popular__card card">
            <div class="card__img">
              <img src="https://static.tvmaze.com/uploads/images/medium_portrait/236/590381.jpg" alt="show img">
            </div>
            <div class="card__info">
              <p class="card__title">The Genetic Detective</p>
              <p class="card__description">Hunt for the Runway Killer</p>
            </div>
          </div>
          <div class="popular__card card">
            <div class="card__img">
              <img src="https://static.tvmaze.com/uploads/images/medium_portrait/236/590381.jpg" alt="show img">
            </div>
            <div class="card__info">
              <p class="card__title">The Genetic Detective</p>
              <p class="card__description">Hunt for the Runway Killer</p>
            </div>
          </div>

        </div>
        <a class="btn-more">More shows >></a>
      </div>
    </div>

    <div class="main-page__schedule schedule">
      <h2 class="title">Schedule for Jun 02</h2>
      <div class="schedule-on-hour">
        <p class="hour">20:00</p>
        <ul class="chanels">
          <li class="chanel">
            <div class="chanel__left">
              <div class="chanel__time">20:00</div>
              <div class="chanel__name">Disney</div>
            </div>
            <div class="chanel__right">
              <a class="chanel__title">Coop & Cami Ask the World</a>
            </div>
          </li>
          <li class="chanel">2</li>
          <li class="chanel">2</li>
        </ul>
      </div>
    </div>
  </div>
</div>
