.search {
  display: flex;

  width: 550px;

  &__input {
    display: inline-block;
    width: 80%;
    height: 20px;
    padding: 10px 15px;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    border: none;

    outline: 0;
  }

  &__button {
    display: inline-block;
    height: 40px;
    // padding: 10px 15px;
    width: 20%;

    background-color: #3C948B;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    border: none;
    outline: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  &__icon {
    color: #fff;
    font-size: 30px;
  }
}
