<div class="container">
  <div class="search" *ngIf="shows[0]; else noResults">
    <h2 class="title">Search</h2>
    <div *ngFor="let item of shows">
      <mat-card class="search__item" *ngIf="item.show.image && item.show.image.medium">
        <img src="{{ item.show.image.medium }}" alt="search-img" class="search__img" *ngIf="item.show.image && item.show.image.medium">
        <div class="search__info">
          <a routerLink="/show/{{ item.show.externals.imdb }}" class="search__name">{{ item.show.name }}</a>
          <p class="search__stars">
            <strong>{{ item.show.schedule.days[0] }}</strong>
            <span *ngIf="item.show.schedule.time" >at {{ item.show.schedule.time }}</span>
          </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noResults>
  <div class="container">
    <p>No Results</p>
  </div>
</ng-template>
