<div class="container">
  <mat-card class="register-card">
    <h2 class="title register-title">Registration</h2>

    <form class="register-form" [formGroup]="form">
      <mat-form-field class="form-control">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="Enter you email...">
      </mat-form-field>
      <mat-form-field class="form-control">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="Enter your password..">
      </mat-form-field>
      <button mat-stroked-button class="register-form__button">Register now</button>
    </form>
  </mat-card>
</div>
